<h2>Welkom {{ username }}</h2>
<p>Rol: {{ role }}</p>

<p>
  <a href="/choose-category">🎯 Start quiz via categorie</a>
</p>

<h3>Beschikbare quizzen (alles)</h3>

{% if quizzes %}
  <ul>
    {% for q in quizzes %}
      <li>
        <b>{{ q.title }}</b>
        {% if q.category %} (Categorie: {{ q.category }}) {% endif %}
        - <a href="/quiz/{{ q.id }}/start">Start</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Er zijn momenteel geen actieve quizzen.</p>
{% endif %}

<a href="/logout">Uitloggen</a>

{% if role == "admin" %}
  <p>
    <a href="/admin/create-quiz">➕ Nieuwe quiz aanmaken</a>
  </p>
{% endif %}
